.add_product-popup{
  position: relative;
  width: 500px;
  height: 600px;
  padding: 15px;
}

.add_product-popup_buttons{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.add_product-wrapp{
  display: flex;
}

.add_product-left_panel{
  width: 50%;
  padding-right: 15px
}

.add_product-right_panel{
  width: 50%;
}

.add_product-image_list{
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
}
